<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
    <link rel="stylesheet" href="~/Content/chosen.css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/site.js"></script>
</head>
<body>

    <div class="navbar navbar-fixed-top" style="background-color: #D1005D">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="http://semzseiptg12:16661/images/newlogo.png" alt="Banner Image" height="50" />
                <img src="http://semzseiptg12:16661/images/prtgwlogo.png" alt="Banner Image" height="50" />
            </div>

            <div class="collapse navbar-collapse navbar-left" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li> @Html.ActionLink("Home", "Index", "Home", null, new { @class = "white-link" })</li>
                    <li> @Html.ActionLink("Documentação", "Documentacao", "ELFinder", null, new { @class = "white-link" })</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle white-link" data-toggle="dropdown">Monitorização<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li> @Html.ActionLink("Registo de Indisponibilidade", "RegistoIndisponibilidade", "Home", null, new { @class = "white-link" })</li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle white-link" data-toggle="dropdown">Gestão de Informação</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle white-link" data-toggle="dropdown">Associação de Contactos a Notificações</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("APC´s - Data Center (SMS)", "APC", "Home", null, new { @class = "white-link" })</li>
                                            <li>@Html.ActionLink("Exchange Mail Queue (SMS)", "Exchange", "Home", null, new { @class = "white-link" })</li>
                                            <li>@Html.ActionLink("Comunicações - Balcões (SMS & EMAIL)", "balcoes", "Home", null, new { @class = "white-link" })</li>
                                            <li>@Html.ActionLink("Comunicações - Extranets (SMS & EMAIL)", "Extranets", "Home", null, new { @class = "white-link" })</li>
                                            <li>@Html.ActionLink("Servidores - Milleteller (SMS & EMAIL)", "Milleteller", "Home", null, new { @class = "white-link" })</li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("Cartões SIM", "GestaoCartaoSIM", "Home", null, new { @class = "white-link" })</li>
                                    <li>@Html.ActionLink("Contactos", "Contactos", "Home", null, new { @class = "white-link" })</li>
                                    <li>@Html.ActionLink("Credenciais", "GestaoCredenciais", "Home", null, new { @class = "white-link" })</li>
                                    <li>@Html.ActionLink("Equipas e Grupos", "GestaoEquipas", "Home", null, new { @class = "white-link" })</li>
                                    <li>@Html.ActionLink("Serviços Mobile", "GestaoServicosMobile", "Home", null, new { @class = "white-link" })</li>
                                    <li>@Html.ActionLink("Aplicações", "GestaoAplicacoes", "Home", null, new { @class = "white-link" })</li>
                                    <li>@Html.ActionLink("Sondas e Servidores", "GestaoSondas", "Home", null, new { @class = "white-link" })</li>
                                    <li>@Html.ActionLink("Links e Dashboards", "GestaoLinks", "Home", null, new { @class = "white-link" })</li>
                                    <li>@Html.ActionLink("Templates de Notificações", "GestaoTemplates", "Home", null, new { @class = "white-link" })</li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle white-link" data-toggle="dropdown">Reports & Notificações (SMS e Email)</b></a>
                                <ul class="dropdown-menu">                              
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle white-link" data-toggle="dropdown">Executar Scripts de Notificação</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("APC - Data Center", "ExecutarAPC", "Home", null, new { @class = "white-link" })</li>
                                            <li>@Html.ActionLink("AKCP - DR MALUANA", "ExecutarAKCP", "Home", null, new { @class = "white-link" })</li>
                                            <li>@Html.ActionLink("Comunicações - Balcões", "ExecutarComunicacoes", "Home", null, new { @class = "white-link" })</li>
                                            <li>@Html.ActionLink("Comunicações - Extranets", "ExecutarExtranets", "Home", null, new { @class = "white-link" })</li>
                                            <li>@Html.ActionLink("Comunicações - ATMs - StandAlones", "ExecutarATMs", "Home", null, new { @class = "white-link" })</li>
                                            <li>@Html.ActionLink("Estado Servidores - SC", "ExecutarEServSC", "Home", null, new { @class = "white-link" })</li>
                                            <li>@Html.ActionLink("Estado AS400 - SC", "ExecutarAS400", "Home", null, new { @class = "white-link" })</li>
                                            <li>@Html.ActionLink("Estado RAID - Balcões", "ExecutarRAID", "Home", null, new { @class = "white-link" })</li>
                                            <li>@Html.ActionLink("Estado Serviço Milleteller", "ExecutarMilleteller", "Home", null, new { @class = "white-link" })</li>
                                            <li>@Html.ActionLink("Estado Espaço Disco - SC", "ExecutarEDiscoSC", "Home", null, new { @class = "white-link" })</li>
                                            <li>@Html.ActionLink("Estado Espaço Disco - Balcões", "ExecutarEDiscoB", "Home", null, new { @class = "white-link" })</li>
                                            <li>@Html.ActionLink("Estado Mcafee - Balcões", "ExecutarMcafeebc", "Home", null, new { @class = "white-link" })</li>
                                            <li>@Html.ActionLink("Estado Mcafee - SC", "ExecutarMcafeesc", "Home", null, new { @class = "white-link" })</li>
                                        </ul>
                                    </li>
                                    <li>
                                        @Html.ActionLink("Envio de Notificações (SMS´s e Email)", "EnvioNotificacoes", "Home", null, new { @class = "white-link" })
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle white-link" data-toggle="dropdown">PRTG</a>
                                <ul class="dropdown-menu">
                                    <li> <a target="_blank" href="http://semzseiptg12:16661/index.htm" class="white-link">Portal PRTG Web</a></li>
                                    <li> @Html.ActionLink("Listagem de Servidores Não Monitorizados", "MonitorizacaoPRTG", "Home", null, new { @class = "white-link" })</li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle white-link" data-toggle="dropdown">IT Dahsboard<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle white-link" data-toggle="dropdown">Processar Estatística - Mobile</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Mensagens Enviadas (Modem)", "EstatisticasMobile", "Home", null, new { @class = "white-link" })</li>
                                    <li>@Html.ActionLink("Transações nos Serviços Mobile", "EstatisticasTransacoesMobile", "Home", null, new { @class = "white-link" })</li>
                                    <li>@Html.ActionLink("Disponibilidade de Serviços Mobile", "EstatisticasDisponibilidadeMobile", "Home", null, new { @class = "white-link" })</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Processar Estatística - Modem", "EstatisticasEnvioRecepcao", "Home", null, new { @class = "white-link" })</li>
                            <li>@Html.ActionLink("Processar Estatística - Aplicações", "EstatisticaAplicacoes", "Home", null, new { @class = "white-link" })</li>
                            <li>@Html.ActionLink("Processar Estatística - Storage EMC", "EstatisticasEMC", "Home", null, new { @class = "white-link" })</li>
                            <li>@Html.ActionLink("Processar Estatística - Mcafee", "Mcafee", "Home", null, new { @class = "white-link" })</li>
                            <li>@Html.ActionLink("Processar Estatística - Comunicações com os Balcões", "EstatisticasComunicacoes", "Home", null, new { @class = "white-link" })</li>
                            <li>@Html.ActionLink("Processar Estatística - Comunicações Extranets", "EstatisticasExtranet", "Home", null, new { @class = "white-link" })</li>
                        </ul>
                    </li>
                </ul>
            </div>
            @{var User1 = System.Web.HttpContext.Current.User.Identity.Name;}
            <p class="navbar-text navbar-right" style="color: white; padding-right: 10%; font-size:18px;"><b>User: @User1</b></p>
        </div>
    </div>
    <div class="container body-content">
        <hr />
    </div>
    <div class="container body-content" style="width:80%">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Gestão de Conteudos - DSE Monitorização</p>
        </footer>
    </div>
    <script>
        $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
            // Avoid following the href location when clicking
            event.preventDefault();
            // Avoid having the menu to close when clicking
            event.stopPropagation();
            // If a menu is already open we close it
            $('ul.dropdown-menu [data-toggle=dropdown]').parent().removeClass('open');
            // opening the one you clicked on
            $(this).parent().addClass('open');
        });
    </script>
    <environment names="Development">
    </environment>
    @RenderSection("scripts", false)
</body>
</html>
