
@{
    ViewBag.Title = "Gestão de Serviços Mobile";
}

<script type="text/javascript">
    window.history.replaceState(null, "Title", "/Home/GestaoServicosMobile");
</script>

<h2>Gestão de Serviços Mobile</h2>
<html>

<body>
    <table>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="Submit" value="Adicionar Entidade / Operadora" class="btn btn-success btnAdicionarProvedor" />
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="Submit" value="Adicionar Serviço Mobile" class="btn btn-success btnAdicionarServico" />
            </td>
        </tr>
        <tr>
            <td colspan="10">
                <div class="row" Style="margin-top: 1%;">
                    <div class="col-md-8">
                        <p id="hidenatt3" Style="color:#ff2c50" hidden>Ocorreu um erro durante o processamento da Informação. Por Favor, Contacte o Administrador da Página. </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    </br>
    @model PortalDSEMonitorizacao.Models.GestaoServicosMobileListViewModel
    <form method="POST">
        <div class="scrollingTable">
            <table>
                <tr>
                    <td>
                        <b>Entidade / Operadora</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table table-bordered table-hover" style="width: 100%">
                            <tr style="background-color:#D1005D">
                                <th class="text-center">Acção</th>
                                <th class="text-center">Nome</th>
                            </tr>
                            @if (Model.Provedores != null)
                            {
                                foreach (var dataItem in Model.Provedores)
                                {
                                    <tr class="trcont">
                                        <td id=@dataItem.Id align="center">
                                            <a href="#" class="btn btn-link btnEditarProvedor" data-value="@dataItem.Id">Editar</a> |
                                            <input type="submit" id="remover_@dataItem.Id" class="btn btn-link"
                                                   value="Remover" formaction="/home/RemoveProvedoras/@dataItem.Id" data-value="@dataItem.Id" />
                                        </td>
                                        <td align="center">
                                            @dataItem.Nome
                                        </td>                         
                                    </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Serviços Mobile</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table table-bordered table-hover" style="width: 100%">
                            <tr style="background-color:#D1005D">
                                <th class="text-center">Acção</th>
                                <th class="text-center">Nome</th>
                            </tr>
                            @if (Model.ServicosMobile != null)
                            {
                                foreach (var dataItem in Model.ServicosMobile)
                                {
                                    <tr class="trcont">
                                        <td id=@dataItem.Id align="center">
                                            <a href="#" class="btn btn-link btnEditarServicoMobile" data-value="@dataItem.Id">Editar</a> |
                                            <input type="submit" id="remover_@dataItem.Id" class="btn btn-link"
                                                   value="Remover" formaction="/home/RemoveServicoMobile/@dataItem.Id" data-value="@dataItem.Id" /> |
                                            <a href="#" class="btn btn-link btnAssociar" data-value="@dataItem.Id">Associar</a>
                                        </td>
                                        <td align="center">
                                            @dataItem.Nome
                                        </td>                         
                                    </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
                 <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                   <tr>
                    <td>
                        <b>Associações --> Serviço & Entidade</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table table-bordered table-hover" style="width: 100%">
                            <tr style="background-color:#D1005D">
                                <th class="text-center">Acção</th>
                                <th class="text-center">Provedor</th>
                                <th class="text-center">Serviço Associado</th>
                            </tr>
                            @if (Model.Associacoes != null)
                            {
                                foreach (var dataItem in Model.Associacoes)
                                {
                                    <tr class="trcont">
                                        <td id=@dataItem.Id align="center">
                                            <input type="submit" id="remover_@dataItem.Id" class="btn btn-link"
                                                   value="Remover" formaction="/home/RemoveAssociacoes/@dataItem.Id" data-value="@dataItem.Id" />
                                        </td>
                                        <td align="center">
                                            @dataItem.Provedor.Nome
                                        </td>   
                                         <td align="center">
                                            @dataItem.ServicoMobile.Nome
                                        </td>   
                                    </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </form>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="teste"></div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{

        <script type="text/javascript">
            $(document).ready(function () {
                $.ajaxSetup({ cache: false });
                $(".btnAdicionarProvedor").click(function () {
                    var id = $(this).data("value");
                    $("#teste").load("/Home/AddProvedor/",
                        function () {
                            $('#myModal').modal("show");
                        });
                });
                $(".btnAdicionarServico").click(function () {
                    var id = $(this).data("value");
                    $("#teste").load("/Home/AddServicoMobile/",
                        function () {
                            $('#myModal').modal("show");
                        });
                });
                $(".btnEditarProvedor").click(function () {
                    var id = $(this).data("value");
                    $("#teste").load("/Home/EditProvedor/" + id,
                        function () {
                            $('#myModal').modal("show");
                        });
                });
                $(".btnEditarServicoMobile").click(function () {
                    var id = $(this).data("value");
                    $("#teste").load("/Home/EditServicoMobile/" + id,
                        function () {
                            $('#myModal').modal("show");
                        });
                });
                $(".btnAssociar").click(function () {
                    var id = $(this).data("value");
                    $("#teste").load("/Home/AssociarServico/" + id,
                        function () {
                            $('#myModal').modal("show");
                        });
                });
            });
        </script>
    }

    <div class="modal fade" id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
                    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
                    opacity: .8; filter: alpha(opacity=70);display:none">
        <p style="position: absolute; top: 30%; left: 40%; right:50%; bottom:50%; color: White;">
            <img src="~/Content/img/msg-processando.gif">
        </p>
    </div>



    @Html.Raw(TempData["showmsg"])

</body>
</html>

